.park-button {
    width: 150px;
    background-color: rgba(37, 226, 237, 0.7);
    border: none; /* Remove border */
    color: black; /* White text color */
    font-weight: bold; /* Make the button text bold */
    white-space: pre;
    padding: 15px 0; /* Padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    border-radius: 33px; /* Make the button corners round */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    transition: background-color 0.4s; /* Transition effect */
}

.park-button:hover {
    background-color: rgba(37, 226, 237, 1);
}

.park-button:disabled {
    opacity: 0.5;
    background-color: #7AEEF5; /* Change background color to gray */
    cursor: default; /* Change cursor to default */
}