.park-button {
    width: 150px;
    background-color: ghostwhite;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none; /* Remove border */
    color: black; /* White text color */
    font-weight: bold; /* Make the button text bold */
    white-space: pre;
    padding: 15px 0; /* Padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    border-radius: 33px; /* Make the button corners round */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    transition: background-color 0.4s; /* Transition effect */
}

.park-button:hover {
    background-color: lightgray;
    box-shadow: none;
    transform: translate(3px, 3px);

}

.park-button:disabled, .park-button:disabled:hover {
    opacity: 0.5;
    background-color: lightgray; /* Change background color to gray */
    cursor: default; /* Change cursor to default */
    box-shadow: none;
    transform: translate(3px, 3px);
}