.car-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.car-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.info {
    text-align: left;
}

.info-item {
    margin-bottom: 10px;
}