.car-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /*border: 2px solid black;*/
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.car-image {
    width: 170px;
    height: auto;
    margin-right: 50px;
}

.battery-image {
    width: auto; /* Set the width to 100% of the parent element */
    height: 30px; /* Set the height to auto to maintain aspect ratio */
    margin-right: 10px;
}

.info {
    text-align: left;
    /*border: 2px solid black;*/
    /*border-radius: 20px;*/
    padding: 15px;
}

.info-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.info-item-middle {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.location-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.item-property {
    min-width: 55px;
    display: inline-block;
    padding: 5px 10px; /* Adjust as needed */
    background-color: #C4CACA; /* Gray background */
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: black; /* White text */
    border-top-right-radius: 33px; /* Set the top right corner radius */
    border-bottom-right-radius: 33px; /* Set the bottom right corner radius */
    border: 1px solid transparent; /* 테두리 기본 설정 */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); /* 흐림 효과 적용 */
}